.contact-me {
    grid-column: 2 / 8;
    grid-row: 6 / 7;

    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, 1fr));
    grid-template-rows: repeat(4, 12rem);

    margin: 10rem 0;
    background-color: rgb(199, 157, 81);
    justify-items: center;

    color: black;
    border-radius: 5px;

    &__left {
        grid-row: 1 / -1;
        grid-column: 1 / 4;

        display: grid;
        grid-template-rows: max-content repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);

        justify-items: center;
    }

    &__right {
        grid-row: 1 / -1;
        grid-column: 4 / -1;

        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);

        justify-items: center;
    }

    &__headers {
        font-size: $header-2;

        &--1 {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            padding: 2rem 0 3rem 0;
        }

        &--2 {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            padding-top: 2rem;
        }
    }

    &__text {
        font-size: $text-3;
        padding: 0 3rem;


        &--1 {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
        }

        &--2 {
            grid-row: 3 / 4;
            grid-column: 1 / -1;
        }
    }
}

.form {
    width: 100%;

    &__group {

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    &__lable {
        font-size: $text-3;
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: .5rem;
        display: block;
        transition: all .5s;
    }

    &__input {
        display: block;
        border: none;
        padding: 1rem 0;
        width: 75%;
    }

    &__input:placeholder-shown + &__lable{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1.2rem);
    }

    &__textarea {
        border: none;
        resize: none;
    }
}